.App {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.generator {
    background-image: linear-gradient(-225deg, #436361 0%, #e2eb3b 100%);
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(197, 186, 186, 0.863);
    padding: 30px;
}
.generator__header {
    text-align: center;
    color: rgb(222, 230, 222);
    margin-bottom: 20px;
}
.generator__password {
    background-color: #463e79;
    padding: 13px 10px;
    color: #ddd9d9;
    margin-bottom: 15px;
    height: 46px;
    display: flex;
    justify-content: space-between;
}
.copy__btn {
    color: #42c210;
    background: #463e79;
    border: none;
    cursor: pointer;
}
.generator__btn {
    background: #57e26e;
    border: none;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    color: #0b0e0c;
    border-radius: 30px;
    font-size: 17px;
    cursor: pointer;
}
.form-group {
    display: flex;
    justify-content: space-between;
    color: gre;
    margin-bottom: 15px;
}
